/* Basic Reset */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


/* Navigation Bar Styles */

nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* Hero Section Styles */
.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('./images/6-Reasons-Why-Having-a-Professional-Coder-Certification-Is-Crucial.jpg') no-repeat center center/cover;
}

.hero h1, .hero p{
    color: #fff;
}

.highlight{
    color: #00d4ff;
}

.btn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00d4ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover{
    background-color: #007bbd;
}

/* About Section Styles */
.container{
    padding: 80px 10%;
    text-align: center;
}

.skills{
    margin-top: 20px;
}

.skills li{
    display: inline-block;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
}

/* Footer Styles */
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 10%;
}