/* Basic Reset */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


/* Navigation Bar Styles */

nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* Hero Section Styles */
.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('./images/6-Reasons-Why-Having-a-Professional-Coder-Certification-Is-Crucial.jpg') no-repeat center center/cover;
}

.hero h1{
    color: #fff;
}